<div class="back"></div>

<div class="page-title" fxLayout="row" fxLayoutAlign="start center">
  <div style="margin: auto">All NFTs Details</div>
  <div>
    <a
      [routerLink]="['/admin', 'adminoperation']"
      mat-raised-button
      color="primary"
      class="mr"
      ><mat-icon>arrow_back</mat-icon> &nbsp; Back</a
    >
  </div>
</div>

<div class="secondContainer" style="margin-top: 10px">
  <div class="table-container1">
    <mat-form-field appearance="standard" class="w-100" style="padding: 10px">
      <mat-label>Search</mat-label>
      <input
        matInput
        autocomplete="off"
        (keyup)="applyFilter($event)"
        placeholder="Enter the Name"
        #input
      />
      <mat-icon matPrefix style="margin-right: 10px">search</mat-icon>
    </mat-form-field>
    <table mat-table class="w-100" [dataSource]="nfts" matSort>
      <ng-container matColumnDef="nftOwner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NFT Owner</th>
        <td mat-cell *matCellDef="let nfts">{{ nfts.nftOwner }}</td>
      </ng-container>
      <ng-container matColumnDef="fName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef id="move">
          First Name
        </th>
        <td mat-cell *matCellDef="let nfts" id="move">
          {{ nfts.fName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="lName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let nfts">{{ nfts.lName }}</td>
      </ng-container>
      <ng-container matColumnDef="practice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Practice</th>
        <td mat-cell *matCellDef="let nfts">{{ nfts.practice }}</td>
      </ng-container>
      <ng-container matColumnDef="circle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Circle</th>
        <td mat-cell *matCellDef="let nfts">{{ nfts.circle }}</td>
      </ng-container>

      <ng-container matColumnDef="nftURL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><div style="margin-left: 22px;">NFT URL</div></th>
        <td mat-cell *matCellDef="let nfts" class="word"><img class="circleNftimg" src="{{ nfts.nftURL }}" alt=""></td>
      </ng-container>
      <ng-container matColumnDef="nftId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NFT Id</th>
        <td mat-cell id="change" *matCellDef="let nfts" (click)="view(nfts)">
          {{ nfts.nftId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nftStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NFT Status</th>
        <td mat-cell *matCellDef="let nfts">{{ nfts.nftStatus }}</td>
      </ng-container>
      <ng-container matColumnDef="action" id="move">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let nfts" id="move">
          <button
            *ngIf="nfts.nftStatus == 'ISSUED'"
            (click)="expire(nfts)"
            mat-raised-button
            color="warn"
          >
            Expire
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let bookings; columns: columnsToDisplay"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <div class="table-paginator">
      <mat-paginator
        pageSize="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
