<div class="page-title" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column"  fxLayoutAlign.lt-md="start start" fxLayoutGap.lt-md="15px">
    <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">NEW BOOKINGS</div>
    <div fxFlex="1 1 50%" class="text-right"><a mat-stroked-button routerLink="['/booking-list']" color="accent"><mat-icon>arrow_back</mat-icon> &nbsp; Back to Bookings</a></div>
</div>
<mat-horizontal-stepper linear="true" #stepper>
    <mat-step label="Search for Hotel" stepControlName="searchHotel" [completed]="newBooking.get('searchHotel')?.valid">
        <form [formGroup]="newBooking">
            <div class="form-container mb mt" formGroupName="searchHotel">
                <h2 class="section-header" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
                    <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">Search City</div>
                    <div fxFlex="1 1 50%" [ngClass.gt-xs]="{'text-right':true}">
                        <button  mat-raised-button color="primary" matStepperNext>Search Hotel &nbsp; <mat-icon>start</mat-icon></button>
                    </div>
                </h2>

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.gt-md="20px" >
                    <div fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                        <mat-form-field class="w-100">
                            <mat-label>
                                Cities
                              </mat-label>
                              <input formControlName="cities" matInput type="text" [matAutocomplete]="auto" />
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let item of filteredOptions" [value]="item">
                                  {{item}}
                                </mat-option>
                              </mat-autocomplete>
                            <mat-error *ngIf="getFormControl('searchHotel.cities').hasError('required')"
                            [innerHTML]="getErrorMessage('cities','required')"
                            ></mat-error>
                            <mat-hint align="end">Choose a City</mat-hint>
                            <mat-icon matPrefix>apartment</mat-icon>
                          </mat-form-field>

                        <div fxLayout="row" fxLayout.lt-md="column">
                            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                                <mat-label>Adults:</mat-label>
                                <button mat-icon-button color="warn" (click)="descreaseAdults()">
                                    <mat-icon>remove_circle_outline</mat-icon>
                                </button>
                                <span class="font-weight-bold">{{newBooking.value.searchHotel.adults}}</span>
                                <button mat-icon-button color="primary" (click)="increaseAdults()">
                                    <mat-icon>control_point</mat-icon>
                                </button>
                                <mat-hint fxLayout="column" style="font-size:10px;">maximum 4 adults are allowed</mat-hint>
                            </div>


                            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                                <mat-label>Childern:</mat-label>
                                <button mat-icon-button color="warn" (click)="decreaseChilder()">
                                    <mat-icon>remove_circle_outline</mat-icon>
                                </button>
                                <span class="font-weight-bold">{{newBooking.value.searchHotel.childern}}</span>
                                <button mat-icon-button color="primary" (click)="increaseChilder()">
                                    <mat-icon>control_point</mat-icon>
                                </button>
                                <mat-hint fxLayout="column" style="font-size:10px;">maximum 2 childern are allowed</mat-hint>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                        <mat-form-field class="w-100" color="primary">
                            <mat-label>Check-in and Check-out dates</mat-label>
              
                            <mat-date-range-input [rangePicker]="picker" [min]="today">
                                <input matStartDate placeholder="Check-in date" formControlName="checkIn" />
                                <input matEndDate placeholder="Check-out date" formControlName="checkOut" />
                            </mat-date-range-input>
                
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            <mat-icon matPrefix class="mr">pending_actions</mat-icon>
                
                            <mat-hint align="end">Please Select the dates</mat-hint>
                            <mat-error *ngIf="getFormControl('searchHotel.checkIn').hasError('required')" [innerHTML]="getErrorMessage('checkIn', 'required')"></mat-error>
                
                            <mat-error *ngIf="getFormControl('searchHotel.checkOut').hasError('required')" [innerHTML]="getErrorMessage('checkOut', 'required')"></mat-error>
                        </mat-form-field>
                    </div> 
                </div>
            </div>
        </form>
    </mat-step>





    <mat-step label="Choose a Hotel" stepControlName="chooseHotel" [completed]="newBooking.get('chooseHotel')?.valid" >
        <h2 class="section-header mb mt" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">Search Hotel</div>
            <div fxFlex="1 1 50%" [ngClass.gt-xs]="{'text-right':true}">
                <button  mat-raised-button color="warn" matStepperPrevious><mat-icon>arrow_back_ios_new</mat-icon>&nbsp; Back...</button>
            </div>
        </h2>

        <div fxLayout="row" fxLayoutAlign="start space-between" 
        fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-between start" fxLayoutGap="20px"
        class="hidebottom"
        >
        <mat-card fxFlex="1 1 20%" fxFlex.lt-md="1 1 100%" *ngFor="let hotel of hotels" >
            <mat-card-title>{{hotel.hotelName}}</mat-card-title>
            <mat-card-subtitle>{{hotel.hotelLocation}}</mat-card-subtitle>
            <mat-card-actions  style="margin-left: 50px;"  >
                <button (click)="selectedHotel(hotel)" matStepperNext  mat-raised-button color=primary><span>Select Hotel</span> &nbsp;<mat-icon>next_plan</mat-icon></button>
            </mat-card-actions>
            <img mat-card-image [src]="hotel.hotelImage" [alt]="hotel.hotelImage">
            <mat-card-content >{{hotel.hotelDescription}}</mat-card-content>
        </mat-card>
        </div>
    </mat-step>



    <mat-step label="Choose a Room" stepControlName="chooseRooms" [completed]="newBooking.get('chooseRooms')?.valid">
        <form [formGroup]="newBooking" >
            <div class="form-container mb mt" formGroupName="chooseRooms">
                <h2 class="section-header" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
                    <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">Room Traiff</div>
                    <div fxFlex="1 1 50%" [ngClass.gt-xs]="{'text-right':true}">
                        <button mat-stroked-button color="accent" matStepperPrevious class="mr"><mat-icon>arrow_back_ios_new</mat-icon> &nbsp; Back... </button>
                        <button  mat-raised-button color="primary" matStepperNext>Information &nbsp; <mat-icon>start</mat-icon></button>
                    </div>
                </h2>  
                <div fxLayout="row" fxLayoutAlign="start space-between" 
                    fxLayout.lt-lg="column" fxLayout.lt-lg="space-between start" 
                    fxLayoutGap="20px" fxLayoutGap.lt-lg="0px"
                >
                    <div fxFlex="1 1 70%" fxFlex.lt-md="1 1 100%">
                        <div class="mb">
                            <mat-label>Choose Rooms</mat-label>
                        </div>

                        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="rooms" vertical class="w-100">
                            <mat-button-toggle *ngFor="let room of roomType" [value]="room.roomTypeName" class="room-type">
                                <div class="text-left">
                                    <h3 class="room-type-heading" fxLayout="row" fxLayoutAlign="space-between start" 
                                    fxLayout.lt-lg="column">
                                        <div fxFlex="1 1 50%" fxFlex.lt-lg="1 1 100%"><mat-icon class="mr" style="position:relative ; top:5px ;">bed</mat-icon><span>{{room.roomTypeName}}</span></div>
                                        <div fxFlex="1 1 50%" fxFlex.lt-lg="1 1 100%" class="text-right"><span class="room-type-price">{{room.price | currency}} <i class="grey">Per night</i></span></div>
                                    </h3>
                                    <div class="room-type-content" fxLayout="row" fxLayout.lt-lg="column">
                                        <div fxFlex="1 1 50%" fxFlex.lt-lg="1 1 100%">
                                            <div>{{room.vat | percent}} VAT included</div>
                                            <div>Max: {{room.maxPersons}} Person(s)</div>
                                        </div>
                                        <div fxFlex="1 1 50%" fxFlex.lt-lg="1 1 100%">
                                            <div>CheckIn: {{room.checkIn}}</div>
                                            <div>CHeckOut: {{room.checkOut}}</div>
                                        </div>
                                    </div>
                                    
                                </div>
                               
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div fxFlex="1 1 30%" fxFlex.lt-md="1 1 100%">
                        <div class="mt mb">
                            <mat-label class="mr">Dine In:</mat-label>
                            <span class="mr">
                                <mat-checkbox (change)="onAllDineInCheckBoxChange()" color="primary" formControlName="allDineIn" [indeterminate]="!isAllDineInSelected() && !isNoDineInSelected()">All</mat-checkbox>
                            </span>

                            <span formControlArray="dineIn">
                                <span *ngFor="let dineIn of dineInFormArray.controls; let i=index">
                                    <mat-checkbox [formControl]="asFormControl(dineIn)" (change)="onDineInChange(i)" class="mr">{{allDineIn[i].dineInName}}</mat-checkbox>
                                </span>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </mat-step>


    <mat-step label="Personal Information" stepControlName="personalInformation" [completed]="newBooking.get('personalInformation')?.valid">
        <form [formGroup]="newBooking" >
            <div class="form-container mb mt" formGroupName="personalInformation">
                <h2 class="section-header" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
                    <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">Personal Information</div>
                    <div fxFlex="1 1 50%" [ngClass.gt-xs]="{'text-right':true}">
                        <button mat-stroked-button color="accent" matStepperPrevious class="mr"><mat-icon>arrow_back_ios_new</mat-icon> &nbsp; Back... </button>
                        <button  mat-raised-button color="primary" matStepperNext>save & next &nbsp; <mat-icon>start</mat-icon></button>
                    </div>
                </h2>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Customer Name</mat-label>
                        <input #namelength type="text" matInput formControlName="customerName" placeholder="Enter the name" >
                        <mat-hint align="end">upto 30 charcters {{namelength.value.length}}/30</mat-hint>
                        <mat-error *ngIf="getFormControl('personalInformation.customerName').hasError('required')" [innerHTML]="getErrorMessage('customerName', 'required')"></mat-error>
                        <mat-error *ngIf="getFormControl('personalInformation.customerName').hasError('maxlength')" [innerHTML]="getErrorMessage('customerName', 'maxlength')"></mat-error>
                        <mat-error *ngIf="getFormControl('personalInformation.customerName').hasError('pattern')" [innerHTML]="getErrorMessage('customerName', 'pattern')"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country">
                            <mat-option *ngFor="let country of Coutries" [value]="country.countryName">{{country.countryName}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">enter your country name</mat-hint>
                        <mat-error *ngIf="getFormControl('personalInformation.country').hasError('required')" [innerHTML]="getErrorMessage('country', 'required')"></mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>DOB</mat-label>
                        <input type="text" matInput 
                        placeholder="enter your DOB" 
                        [matDatepicker]="dobPicker"
                        formControlName="dob"
                        [max]="maxDate"
                        >
                        <!-- [matDatepickerFilter]="dateFilter"  place it inside the input field-->
                        <mat-datepicker-toggle matSuffix [for]="dobPicker"><mat-icon matDatepickerToggleIcon>edit_calendar</mat-icon></mat-datepicker-toggle>
                        <mat-datepicker #dobPicker></mat-datepicker>
                        <mat-error *ngIf="getFormControl('personalInformation.dob').hasError('required')" 
                            [innerHTML]="getErrorMessage('personalInformation.dob','required')"
                        ></mat-error>  
                    </mat-form-field>  
                    <mat-radio-group formControlName="gender">
                        <mat-label class="mr">Gender:</mat-label>
                        <mat-radio-button class="mr" value="male">Male</mat-radio-button>
                        <mat-radio-button class="mr" value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Others</mat-radio-button>
                    </mat-radio-group>

                </div>  
            </div>
        </form>
    </mat-step>




    <mat-step label="Guest Information" stepControlName="guestInformation" [completed]="newBooking.get('guestInformation')?.valid">
        <form [formGroup]="newBooking" >
            <div class="form-container mb mt" formGroupName="guestInformation">
                <h2 class="section-header" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
                    <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">Guest Information</div>
                    <div fxFlex="1 1 50%" [ngClass.gt-xs]="{'text-right':true}">
                        <button mat-stroked-button color="accent" matStepperPrevious class="mr"><mat-icon>arrow_back_ios_new</mat-icon> &nbsp; Back... </button>
                        <button  mat-raised-button color="primary" matStepperNext>save & next &nbsp; <mat-icon>start</mat-icon></button>
                    </div>
                </h2>

                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Guest1 Name</mat-label>
                        <input type="text" matInput formControlName="guest1name" placeholder="Enter the name" >
                        <mat-hint align="end">upto 30 charcters</mat-hint>     
                    </mat-form-field>

                    <mat-form-field class="w-50">
                        <mat-label>Guest1 Age</mat-label>
                        <input type="number" matInput formControlName="guest1age" placeholder="Enter your age" >
                        <mat-hint align="end">Enter your age</mat-hint>     
                    </mat-form-field>
                    <mat-radio-group formControlName="guest1gender" style="margin-left:20px !important ;">
                        <mat-label class="mr">Gender:</mat-label>
                        <mat-radio-button class="mr" value="male">Male</mat-radio-button>
                        <mat-radio-button class="mr" value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Others</mat-radio-button>
                    </mat-radio-group>


                    <mat-form-field class="w-100">
                        <mat-label>Guest2 Name</mat-label>
                        <input type="text" matInput formControlName="guest2name" placeholder="Enter the name" >
                        <mat-hint align="end">upto 30 charcters</mat-hint>     
                    </mat-form-field>

                    <mat-form-field class="w-50">
                        <mat-label>Guest2 Age</mat-label>
                        <input type="number" matInput formControlName="guest2age" placeholder="Enter your age" >
                        <mat-hint align="end">Enter your age</mat-hint>     
                    </mat-form-field>
                    <mat-radio-group formControlName="guest2gender" style="margin-left:20px !important ;">
                        <mat-label class="mr">Gender:</mat-label>
                        <mat-radio-button class="mr" value="male">Male</mat-radio-button>
                        <mat-radio-button class="mr" value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Others</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </form>
    </mat-step>



    <mat-step label="Payment" stepControlName="payments" [completed]="newBooking.get('payments')?.valid">
        <form [formGroup]="newBooking" >
            <div class="form-container mb mt" formGroupName="payments">
                <h2 class="section-header" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
                    <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">Payments</div>
                    <div fxFlex="1 1 50%" [ngClass.gt-xs]="{'text-right':true}">
                        <button mat-stroked-button color="accent" matStepperPrevious class="mr"><mat-icon>arrow_back_ios_new</mat-icon> &nbsp; Back... </button>
                        <button  mat-raised-button color="primary" (click)="finaly()"  matStepperNext>save & next &nbsp; <mat-icon>start</mat-icon></button>
                    </div>
                </h2>

                <mat-tab-group>
                    <mat-tab label='credit Card'>
                        <div class="text-blue font-weight-bold ml mt">
                            Credit Card
                        </div>
                        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between start" fxLayoutGap="30px" fxLayoutGap.lt-lg="0px">
                            <mat-form-field fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                                <mat-label>Credit Card No.</mat-label>
                                <input type="text" placeholder="Enter card number" matInput formControlName="creditCard">
                                <mat-icon matPrefix class="mr" style="position:relative ; top: 5px;">credit_card</mat-icon>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                                <mat-label>CVV No.</mat-label>
                                <input type="text" placeholder="Enter card number" matInput formControlName="CVV">
                                <mat-icon matPrefix class="mr" style="position:relative ; top: 5px;">key</mat-icon>
                            </mat-form-field>
                        </div>
                    </mat-tab> 
                    <mat-tab label='Gift Card'>
                        <div class="text-blue font-weight-bold ml mt">
                            Gift Card
                        </div>
                        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between start" fxLayoutGap="30px" fxLayoutGap.lt-lg="0px">
                            <mat-form-field fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                                <mat-label>Gift Card No.</mat-label>
                                <input type="text" placeholder="Enter card number" matInput formControlName="giftCard">
                                <mat-icon matPrefix class="mr" style="position:relative ; top: 5px;">card_giftcard</mat-icon>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                                <mat-label>Code No.</mat-label>
                                <input type="text" placeholder="Enter card number" matInput formControlName="code">
                                <mat-icon matPrefix class="mr" style="position:relative ; top: 5px;">key</mat-icon>
                            </mat-form-field>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            
            </div>
        </form>
    </mat-step>
    <mat-step label="Finish"></mat-step>
</mat-horizontal-stepper>
<div>{{newBooking.value | json}}}</div>